<br>
<h3>Create new bug</h3>
{{input type="text" value=model.title}}<br>
{{input type="text" value=model.createdAt}}<br>
{{input type="text" value=model.description}}<br>
<button {{action "save" model}} class="btn btn-primary">Save</button>
